 <style> 
       h1 {color:white;
@font-face {
    font-family: ;
    src: url(SYNNovaVFGX.woff2);
}:  ;}

#History{ color:blue}    
         
         
 body { background-color: black;
 }
 img {height: 100%;
width: 100%;}
         
        
 </style>
